#nprogress .bar {
  background: #007bff; /* Your custom color */
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #007bff, 0 0 5px #007bff;
}
.page-fade {
  animation: fadein 0.5s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
